/*0,0,0,1*/
h1 {
    color: blue;
}

/*0,1,0,0*/
#title {
    color: red;
}

/*0,0,1,0*/
.page-title {
    color: green;
}

/*0,1,0,0*/
#title {
    color: green;
}

/*0,0,1,1*/
.nav a {
    color: gray;
}

/*0,0,1,1*/
a.discount {
    color: orange;
}